In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [2]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
transformer_list = [
     ('encoded', OneHotEncoder(dtype='int'), [3]),
     ('skip', 'passthrough', ["R&D Spend", "Administration", "Marketing Spend", "Profit"])
]

In [5]:
ct = ColumnTransformer(transformer_list)
tr = ct.fit_transform(df)
df2 = pd.DataFrame(tr, columns=ct.get_feature_names_out())
df2.head()

,encoded__State_California,encoded__State_Florida,encoded__State_New York,skip__R&D Spend,skip__Administration,skip__Marketing Spend,skip__Profit
0,0.0,0.0,1.0,165349.20,136897.80,471784.10,192261.83
1,1.0,0.0,0.0,162597.70,151377.59,443898.53,191792.06
2,0.0,1.0,0.0,153441.51,101145.55,407934.54,191050.39
3,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
4,0.0,1.0,0.0,142107.34,91391.77,366168.42,166187.94

In [6]:
X = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

In [7]:
y = y.reshape(len(y), 1)
y.shape

(50, 1)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=50)

In [9]:
from sklearn.linear_model import LinearRegression

mlr = LinearRegression()
mlr.fit(X_train, y_train)

y_pred = mlr.predict(X_test)

In [10]:
import numpy as np

con = np.concatenate((y_test, y_pred), axis=1)
con

array([[ 96712.8       , 115571.37458234],
       [ 90708.19      ,  87943.25066842],
       [191792.06      , 214069.18501561],
       [ 81229.06      ,  78096.97928049],
       [152211.77      , 177331.52418601],
       [126992.93      , 132336.14979993],
       [ 96479.51      , 101635.55983201],
       [134307.35      , 143406.46977853],
       [101004.64      , 120253.37452247],
       [108552.04      , 117426.01097202],
       [124266.9       , 135216.41055479],
       [ 49490.75      ,  78821.49521144],
       [141585.52      , 134762.24280017],
       [108733.99      , 118889.20474862],
       [107404.34      , 114013.78790481],
       [182901.99      , 192839.48929182],
       [ 81005.76      ,  87177.70332899],
       [129917.04      , 161053.33422969],
       [ 77798.83      ,  72295.07834048],
       [122776.86      , 121188.23680395],
       [ 14681.4       ,  56696.87548317],
       [192261.83      , 220979.21483222],
       [149759.96      , 162273.88166622],
       [146121.95      , 133140.05583907],
       [111313.02      , 150669.51611812],
       [125370.37      , 156713.81680691],
       [ 42559.73      ,  56267.00722836],
       [118474.03      , 133175.9408833 ],
       [ 78239.91      ,  89928.91100393],
       [ 65200.33      ,  78531.53295415],
       [105733.54      , 114090.86713035],
       [105008.31      , 146157.14430312],
       [103282.38      , 116360.02894979],
       [132602.65      , 159542.4842185 ],
       [ 69758.98      ,  73769.20674616],
       [155752.6       , 170979.29956496],
       [ 97483.56      , 115171.07149267],
       [191050.39      , 183783.05314208],
       [156991.12      , 177740.13739524],
       [110352.25      , 127202.63165787]])